.profil_top {
    margin: 3vh 2vw;
    display: flex;
    .profil_img {
        background-color: rgb(235, 235, 235);
        border-radius: 10px;
        padding: 3vh;
        flex: 1;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-right: 5vh;
        img {
            width: 250px;
            height: 350px;
            object-fit: cover;
        }
        
    }
    .about {
        flex: 2;
        background-color: rgb(235, 235, 235);
        border-radius: 10px;
        padding: 3vh;

        .first, .second {
            display: flex;
            justify-content: space-between;
            text-align: left;

            >div {
            flex: 1;
                
                p {
                    font-weight: bold;
                }
            }
        }
    }

}