.right {
    flex: 1;
    //padding: 0 1vh;

    .title {
        font-size: xx-large;
        text-align: left;  
        height: auto;
    }
    .list_languages {
        height: 95%;
        padding: 3vh;
        background-color: rgb(235, 235, 235);
        border-radius: 10px;
        //display: flex;
        //justify-content: space-around;

        .item {
            margin: 2vh;
            display: flex;
            justify-content: space-between;
        } 
    }
}
