.middle {
    flex: 1;

    .title {
        font-size: xx-large;
        text-align: left;
        height: auto;
    }
    .list_languages {
        height: 95%;
        padding: 3vh;
        background-color: rgb(235, 235, 235);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;

        .item {
            margin: 2vh;
            display: flex;
            justify-content: space-between;
        } 
    }
}