.container {
    .name {
        font-size: xx-large;
        padding: 0 2vw;
    }

    .wrapper {
        display: flex;
        margin: 3vh 2vw;
        padding: 2vh 0;

        > div {
            margin-right: 5vh;
        }
        > div:last-child {
            margin-right: 0;
        }
    }

    .wrapper_unique {
        margin: 3vh 2vw;
        padding: 2vh 0;
    }

    

}