
.left {
    flex: 1;
    .title {
        font-size: xx-large;
        text-align: left;
        height: auto;
    }
    .wrapper {
        height: 95%;
        padding: 3vh;
        text-align: center;
        
        background-color: rgb(235, 235, 235);
        border-radius: 10px;

        p.no_item {
            text-align: center;
            margin: 30% 0 0 0;
        }
        
        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
    }
}
