div.container {
  display: flex;
  min-height: 100vh;

  div.navBar {
    //width: 220px;
    width: 220px;
    margin-right: 20px;
    background-color: #bd1f1f;
  }

  div.rightContainer {
    //width: calc(100vw - 220px);
    width: calc(100vw - 240px);
    margin-top  : 64px;
    div.main {
      margin: 5vh 0;
    }
  }

  @media (max-width: 600px){
    div.navBar {
      width: 0;
    }

    div.rightContainer {
      width: 100vw;
    }
  }
}
